# installs ballet_predict_house_prices when run from root directory
-e .

# lower limit on jlab
jupyterlab >= 2.0

# lab extension
ballet-submit-labextension ~= 0.7

# additional user requirements
-r requirements-notebook.txt

# patch
ballet_tel @ git+https://git@github.com/HDI-Project/ballet@abb49f2888fa8366339e059f1507b26623e6cb09#egg=ballet-tel&subdirectory=tel
