# installs predict_census_income when run from root directory
-e .

# lower limit on jlab
jupyterlab ~= 2.0

# lab extension
ballet-assemble ~= 0.8.2

# additional user requirements
-r requirements-notebook.txt
